/*
|| CONTACT
*/

.contact-section {
  padding-top: 5rem;

  .card {
    border: 0;
    border-bottom: 0.25rem solid $primary;
    margin-top: 5rem;

    h4, .h4 {
      font-size: 0.8rem;
      font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      text-transform: uppercase;
      letter-spacing: 0.15rem;
    }

    hr {
      border-color: $primary;
      border-width: 0.25rem;
      width: 3rem;
    }
  }

  .social {
    margin-top: 10rem;

    a {
      text-align: center;
      height: 3rem;
      width: 3rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 100%;
      line-height: 3rem;
      color: rgba(255, 255, 255, 0.3);
    }

    a:hover {
      color: rgba(255, 255, 255, 0.5);
    }

    a:active {
      color: #fff;
    }
  }
}