.gallery-section {
  background-color: black;

  .hint {
    padding-top: 10vh;
    padding-bottom: 5vh;

    p {
      font-family: $body-font-family;
      color: rgba(255,255,255,0.5);
    }
  }

  //Smooth transition for fade in upon page load
  .opacity-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .gallery-card {
    border: none;
    overflow: none;
    padding: 1vw;

    .card-img-top {
      border-radius: 0px;
    }

    .card-body {
      background: none;
  
      .card-subtitle {
        color: white;
        opacity: 0.4;
        text-align: center;
        font-family: $title-font-alt;
        padding: 1rem 0 2rem 0;
      }
    }

    &:hover {
      cursor: zoom-in;
    }
  }
}

@media (max-width: 1200px) {
  .gallery-section {
    .gallery-card {
      .card-img-top {
        max-height: 50vh;
        object-fit: cover;
      }
    }
  }
}