// || GALLERY ZOOM-IN CAROUSEL

.gallery-zoom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  display: none;

  //Exit icon
  .exit {
    position: absolute;
    z-index: 2001;
    top: 1rem;
    right: 1rem;
    color: rgba(255,255,255,0.8);

    &:hover {
      cursor: pointer;
    }
  }

  .carousel-inner {
    height: 100vh;
  }

  .carousel-item {
    width: 100%;
    height: 100%;
    align-items: center;
  }

  img {
    display: block;
    margin: 5vh auto;
    max-height: 90vh;
    max-width: 90vw;
  }

  .carousel-indicators [data-bs-target] {
    width: 20px;
  }
}