.gallery-section {
  background-color: black;
  padding-top: 15vh;

  .gallery-card {
    border: none;
    overflow: none;
    padding: 1vw;

    .card-img-top {
      border-radius: 0px;
    }

    .card-body {
      background: none;
  
      .card-subtitle {
        color: white;
        opacity: 0.4;
        text-align: center;
        font-family: $title-font-alt;
        padding: 1rem 0 2rem 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .gallery-section {
    .gallery-card {
      .card-img-top {
        max-height: 50vh;
        object-fit: cover;
      }
    }
  }
}