/*
|| MASTHEAD
*/

.masthead-gallery {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 35rem;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.2) 50%, #000 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  

  .container {
    position: relative;
  }

  /*
  MASTHEAD IMAGE
  */

  #masthead-image {
    position: absolute;
    z-index: -1;
    transition: transform 3s ease-out;
    object-fit: cover;
    width: 100vw;
    height: 75vh;
  }

  h1, .h1 {
    font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    color: rgba(255,255,255,0.3);
  }

  h2, .h2 {
    max-width: 20rem;
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .masthead-gallery {
    h1, .h1 {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  }
}
@media (min-width: 992px) {
  .masthead-gallery {
    height: 50vh;
    padding: 0;

    h1, .h1 {
      font-size: 4em;
      line-height: 4rem;
      letter-spacing: 0.3rem;
    }

    h2, .h2 {
      max-width: 30rem;
      font-size: 1.25rem;
    }
  }  
}