/*
|| NAVIGATION
*/

#mainNav {
  min-height: 3.5rem;
  background-color: #000;
}

#mainNav .navbar-toggler {
  font-size: 100%;
  padding: 0.75rem;
  color: $primary-light;
  border: none;
  outline: none;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: $primary;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .nav-link {
  color: $primary-light;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade($primary-light, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }

  /*
  || SCROLL CHANGE EFFECT
  */
  #mainNav.navbar-shrink {
    background-color: #000;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: $primary;
  }
  #mainNav.navbar-shrink .nav-link {
    color: $primary-light;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #fff;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #fff;
    outline: none;
    border-bottom: 0.25rem solid #fff;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}