/*
|| NAVIGATION
*/

/* Mobile/Tablet */

#mainNav {
  min-height: 3.5rem;
  background-color: #000;

  .navbar-toggler {
    font-size: 100%;
    padding: 0.75rem;
    color: $primary-light;
    border: none;
    outline: none;
  }

  .navbar-toggler:focus {
    outline: none;
  }

  .navbar-brand {
    color: $primary;
    font-weight: 500;
    padding: 0.9rem 0;
    font-family: $title-font;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }

  .nav-link {
    color: $primary-light;
    font-family: $title-font-alt;
    font-size: 80%;
    letter-spacing: 1px;
    font-weight: 400;
  }

  .navbar-nav {
    .nav-item:hover {
      color: fade($primary-light, 80%);
      outline: none;
      background-color: transparent;
    }

    .nav-item:active, .nav-item:focus {
      outline: none;
      background-color: transparent;
    }
  }
}

/* Full size */

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    .navbar-brand {
      padding: 0.5rem 0;
      color: rgba(255, 255, 255, 0.5);
    }

    .nav-link {
      transition: none;
      padding: 2rem 1.5rem;
      color: rgba(255, 255, 255, 0.5);
    }

    .nav-link:hover {
      color: rgba(255, 255, 255, 0.75);
    }

    .nav-link:active {
      color: #fff;
    }
  }

  /*
  || SCROLL CHANGE EFFECT
  */
  #mainNav.navbar-shrink {
    background-color: #000;

    .navbar-brand {
      color: $primary;
    }

    .nav-link {
      color: $primary-light;
      padding: 1.5rem 1.5rem 1.25rem;
      border-bottom: 0.25rem solid transparent;
    }

    .nav-link:hover {
      color: #fff;
    }

    .nav-link:active {
      color: #fff;
    }

    .nav-link.active {
      color: #fff;
      outline: none;
      border-bottom: 0.25rem solid $primary;
    }
  }
}

