//Override Bootstrap's variables

$primary: #6c765b;
$primary-light: #c1ceab;
$secondary: #7464a1;
$success: #6fc267;
$info: #1cabc4;
$warning: #e4c662;
$danger: #a16468;
$light: #f8f9fa;
$dark: #1f1f1f;

//Font configuration

$font-sans-serif: "Arima Madurai";
$font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
$body-font-family: "IBM Plex Serif";
$body-font-flavor: "Arima Madurai";
$body-font-size: 1rem;
$body-font-weight: 300;
$body-line-height: 1.5;
$body-color: #212529;
$body-bg: #fff;

$title-font: "Yeseva One", Times New Roman, Georgia, -apple-system, BlinkMacSystemFont, serif;
$title-font-alt: "Luxurious Roman", Times New Roman, Georgia, -apple-system, BlinkMacSystemFont, serif;
